etl.err
etl.trace*
# Do not accidentally commit `.etl/.env` which may contain private a private API Token.
.etl*
.env*

*.log
data
lib
node_modules
npm-debug.log*
package-lock.json
report.ttl.gz

# Based on https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# local environment varibales
.env

# etl error logs
etl.err
etl.traceError*
cbs.csv
