*.log
ratt.err
ratt.trace*
data
lib
node_modules
npm-debug.log*
package-lock.json
report.ttl.gz

# Do not accidentally commit `.ratt-private` which may contain private a private API Token.
.ratt*

# Based on https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
